<%- include("./partials/header.ejs")%>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">General</li>
        </ol>
    </nav>
    <!-- <h1 class="h2">Dashboard</h1> -->
    <!-- <p>ProDNS</p> -->
    <!-- <br> -->
    <div class="row">
        <div class="col-12 col-xl-4 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">Power</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <button type="button" onclick="restart()" class="btn btn-danger">Restart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">Session [<%= user_sessions.length %>]</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <button type="button" onclick="logoutAll()" class="btn btn-danger">Logout All</button>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Platform</th>
                                    <th scope="col">IP</th>
                                    <th scope="col">Agent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% user_sessions.forEach(session => { %>
                                    <tr>
                                        <th>
                                            <%= session.device %>
                                        </th>
                                        <th>
                                            <%= session.ip %>
                                        </th>
                                        <td>
                                            <%= session.agent %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-xl-12 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">Devices [<%= devices.length %>]</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">IP</th>
                                    <th scope="col">MAC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% devices.forEach(device => { %>
                                    <tr>
                                        <th>
                                            <%= device.name %>
                                        </th>
                                        <th>
                                            <%= device.ip %>
                                        </th>
                                        <td>
                                            <%= device.mac %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include("./partials/footer.ejs")%>
